# Backend API
NEXT_PUBLIC_API_URL=https://friendly-capybara-vpvqxxvqv47hqjp-5000.app.github.dev/api
NEXT_PUBLIC_API_URL=https://friendly-capybara-vpvqxxvqv47hqjp-5000.app.github.dev/api
# App URL
NEXT_PUBLIC_APP_URL=http://localhost:3000
